body {
    text-align: center;
    overflow: hidden;
}

#game-info{
  position: absolute;
  float: left;
  border: 3px solid;
  height: 80%;
  width: 25%;
  margin: 3em 1em;
  border-radius: 5%;
}

#header-info{
  margin-top: 0.5em;
  font-size: 2.5em;
}

#level{
  display: inline-block;
  padding-left: 0.1em;
}

#level-info, #life-info{
  font-size: 1.5em;
  padding-top: 0.5em;
}

#life{
  color: red;
}

#gem-info{
  display: table;
  padding-top: 1.5em;
  margin-left: 2em;
  width: 80%;
}

.gem-point-info{
  display: table-row;

}

#gem-info img{
  width: 2em;
  height: 3em;
}

.topic-info{
  display: inline-block;
}

#gem-info .topic-info{
  display: table-cell;
  height: 3em;
  width: 50%;
  border: 1px solid #dbf0d2;
}

.gem-score{
  display: table-cell;
  border: 1px solid #dbf0d2;
  height: 3em;
  width: 50%;
  font-weight: bolder;
}

#score-info{
  position: absolute;
  float: left;
  border: 3px solid;
  height: 80%;
  width: 25%;
  margin: 3em 57em;
  border-radius: 5%;
}

#score-header, #score{
  margin-top: 0.5em;
  font-size: 2.5em;
}
